body {
    text-align: center;
    border: 20px dashed yellow;
    border-start-end-radius: initial;
}

a:link {
    color: cadetblue;
}
a:visited {
    color: red;
}
a:hover {
    color: blue;
}
a:active {
    color: pink;
}